<li class="prize-item position-<%= prize.prize_position %>">
  <div class="prize-title">
    <h3><%= prize.name %></h3>
  </div>

  <% if prize.winner_id %>
  <% winner = Applicant.find(prize.winner_id) %>
  <div class="prize-winner">
    <h3><strong>WINNER:</strong> <%= winner.line_number %> <%= link_to winner.name, applicant_path(winner.id) %> <%= winner.order_id %></h3>
  </div>
<% else %>
  <p>No winner picked yet.</p>
  <%= button_to "Pick a Winner", generate_winner_prize_path(prize), method: :post %>
<% end %>

</li>
