<div id="<%= dom_id applicant %>">
  <p>
    <strong>Name:</strong>
    <%= applicant.name %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= applicant.email %>
  </p>

  <p>
    <strong>Phone:</strong>
    <%= applicant.phone %>
  </p>

  <p>
    <strong>Country:</strong>
    <%= applicant.country %>
  </p>

  <p>
    <strong>Answer:</strong>
    <%= applicant.answer %>
  </p>

  <p>
    <strong>Order ID:</strong>
    <%= applicant.order_id %>
  </p>

  <p>
    <strong>Entry Date:</strong>
    <%= applicant.entry_date %>
  </p>

  <p>
    <strong>Competition:</strong>
    <%= applicant.competition_id %>
  </p>

  <% if applicant.won == true %>
  <% prize = Prize.find_by_winner_id( applicant.id ) %>
  <p>
<strong>Email Template:</strong>
  Hey <%= applicant.name %>,

You’ve been selected position <%= prize.prize_position %> prize winner in our draw! Thought you’d like to know as soon as possible, so we’ll follow this up with how you can claim your prize over the next few days.

Congratulations!

Warm Regards,
Lyndon
  </p>
  <% end %>

</div>
