<div id="<%= dom_id applicant %>">
  <p>
    <strong>Name:</strong>
    <%= applicant.name %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= applicant.email %>
  </p>

  <p>
    <strong>Phone:</strong>
    <%= applicant.phone %>
  </p>

  <p>
    <strong>Country:</strong>
    <%= applicant.country %>
  </p>

  <p>
    <strong>Answer:</strong>
    <%= applicant.answer %>
  </p>

  <p>
    <strong>Order ID:</strong>
    <%= applicant.order_id %>
  </p>

  <p>
    <strong>Entry Date:</strong>
    <%= applicant.entry_date %>
  </p>

  <p>
    <strong>Competition:</strong>
    <%= applicant.competition_id %>
  </p>

</div>
