<p id="notice" style="color: green"><%= notice %></p>

<h1>Applicants</h1>

<div id="applicants">
  <% @applicants.each do |applicant| %>
    <%= render applicant %>
    <p>
      <%= link_to "Show this applicant", applicant %>
    </p>
  <% end %>

  <%= form_tag import_applicants_path, multipart: true do %>
    <%= file_field_tag :file %>
    <%= submit_tag "Import Applicants" %>
  <% end %>
</div>

<%= form_with(model: Applicant, method: :delete, url: destroy_all_applicants_path) do |form| %>
  <%= form.submit "Destroy All", class: "btn btn-danger" %>
<% end %>

<%= link_to "New applicant", new_applicant_path %>
